<div class="m-4">
  <p class="font-bold">山口県だけ取得<p>
  <p>publishingOffice : <span id="publishingOffice"></span></p>
  <p>reportDatetime : <span id="reportDatetime"></span></p>
  <p>targetArea : <span id="targetArea"></span></p>
  <p>text : <span id="text"></p>
</div>
<div class="m-4">
  <p class="font-bold">resourcesの数だけ取得</p>
  <table id="forecast_table" class="table-auto border">
    <thead>
      <tr>
        <th class="border">publishingOffice</th>
        <th class="border">reportDatetime</th>
        <th class="border">targetArea</th>
        <th class="border">text</th>
      </tr>
    </thead>
  </table>
</div>