<div class="sidebar w-64 h-screen">
  <aside class="h-screen">
      <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50">
        <%= link_to current_user.name, manage_index_path, class:"flex items-center ps-2.5 mb-5"%>
        <ul class="space-y-2 font-medium">
            <li>
              <%= link_to "プロフィール変更", edit_user_registration_path %>
            </li>
            <% if current_user.admin %>
              <li>
                  <%= link_to "システム設定", manage_setting_index_path %>
              </li>
            <% end %>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>
            </li>
        </ul>
      </div>
  </aside>
</div>