<div class="w-full h-screen flex items-center justify-center">
  <div class="w-full max-w-xl">
    <div class="bg-gray-100 py-10 px-8 rounded text-center">
      <p>お問い合わせありがとうございました。</p>
    </div>
  </div>
</div>