<p>readOnlyで表示</p>
<div class="p-4 bg-gray-400">
  <div id="editorjs" class="bg-white p-4"></div>
</div>
<input type="hidden" id="content" value="<%= @editor.content %>">
<p>editorjs-htmlで表示</P>
<div class="p-4 bg-gray-400">
  <div id="render-html" class="bg-white p-4"></div>
</div>